
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1>Something Wrong</h1>

<!--copyright-->
<div class="copy-wthree">
    <p>
        © 2022 Login Form . All Rights Reserved | Design by
        <a href="http://ankit.com/" target="_blank">Ankit Rajput</a>
    </p>
</div>
<!--//copyright-->
